body{
    text-align: center;
    background-color: rgb(165, 233, 174);
}
a{
    text-decoration: none;
    font-size: 30px;
}
.topo{
    background-color: rgb(248, 248, 248);
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px gray solid;
    margin-left: 25%;
    margin-right: 25%;
}
img{
    background-color: aliceblue;
    padding-bottom: 20px;
}
.item{
    border-radius: 25px;
}